.active-nav { background-color: #076C99; color: white; box-shadow: 0 4px 6px -1px rgba(7, 108, 153, 0.4); }
.inactive-nav { color: #4B5563; background-color: transparent; }
.inactive-nav:hover { background-color: #F3F4F6; }
.scrollbar-hide::-webkit-scrollbar { display: none; }
.custom-scroll::-webkit-scrollbar { width: 6px; }
.custom-scroll::-webkit-scrollbar-track { background: #f1f1f1; }
.custom-scroll::-webkit-scrollbar-thumb { background: #cbd5e1; border-radius: 4px; }
.custom-scroll::-webkit-scrollbar-thumb:hover { background: #94a3b8; }